ClientAssignment3/lib/*
ClientAssignment3/.settings/*
ClientAssignment3/WebContent/WEB-INF/classes/
ClientAssignment3/build_ant/
ClientAssignment3/build_old.xml
ClientAssignment3/ivy/
ClientAssignment3/.classpath
ClientAssignment3/.gitignore
ClientAssignment3/.project
ClientAssignment3/client-server-json.log
ClientAssignment3/client-server-xml.log
